{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>Comment 기능 구현하기</title>
  </head>
  <body>
    <header>
      <a href="{% url 'home' %}"><h1>HOME</h1></a>
      <a href="{% url 'create' %}"><h1>CREATE</h1></a>
      <img class="dslion" src="{% static 'likelionds.png' %}" alt="" />
      <li class="nav-item" style="position:absolute; top: 10px; right: 100px;">
        <a class="nav-link" href="{% url 'signup' %}">SignUp</a>
      </li>
        <li class="nav-item" style="position:absolute; top: 10px; right: 50px;">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
      
    </header>
    <section>{% block content %}{% endblock %}</section>
    <h1>Main Page</h1>

      {% if request.user.is_authenticated %}
      <h1>환영합니다, {{ user.username }}님!</h1>

      <a href="javascript:{document.getElementById('logout').submit()}">Logout</a>
                          <form id="logout" method="POST" action="{% url 'logout' %}">
                              {% csrf_token %} <input type = "hidden" />
                          </form>
      {%endif%}
    <footer>
      <p>Copyright ⓒ 2020 덕성여대 멋쟁이사자처럼 All rights reserved.</p>
    </footer>
  </body>
</html>
